<h1>Add New Photo</h1>

<form action="create_photo">
  <div>
    <label for="image_url">Image URL</label>
  <input type="url" id="image_url" name="image_url">
</div>

<div>
  <label for="image_caption">Caption</label>
<input type="text" id="image_caption" name="image_caption">
</div>

<div>
  <button>Create Photo</button>
</div>

</form>
