<h1>Add New Photo</h1>

<form>
  <div>
    <label>Image URL</label>
  <input type="url">
</div>

<div>
  <label>Caption</label>
<input type="text">
</div>

<div>
  <button>Create Photo</button>
</div>

</form>
